{
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "globals": {
    "should": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-console": ["off"]
  }
}
